<template name="patientPage">

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">{{firstName}} {{lastName}} - {{birth}} - {{age}}</h3>
        </div>
        <div class="panel-body">


            {{#each oss}}
                <div class="panel panel-default">
                    <div class="panel-heading" data-toggle="collapse" data-target="#os">Obra Social - {{prestador}}</div>
                    <div class="panel-body collapse in" id="os">
                        <ul class="unstyled">
                            <li><strong>Plan</strong>: {{plan}}</li>
                            <li><strong>Nro. de Afiliado</strong>: {{nroAfiliado}}</li>
                            <li><strong>Vencimiento</strong>: {{vencimiento}}</li>
                        </ul>
                    </div>
                </div>
            {{/each}}


            <div class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse" data-target="#estudio">
                    dd/mm/yyyy - 9110
                </div>
                <div class="panel-body collapse" id="estudio">
                    <div class="tabbable">
                        <ul class="nav nav-pills nav-stacked col-md-3">
                            <li class="active"><a href="#a" data-toggle="tab">1. Condiciones del Extendido</a></li>
                            <li><a href="#b" data-toggle="tab">2. Trofismo</a></li>
                            <li><a href="#c" data-toggle="tab">3. Descripción</a></li>
                            <li><a href="#d" data-toggle="tab">4. Conclusiones</a></li>
                        </ul>
                        <div class="tab-content col-md-9">
                            <div class="tab-pane active" id="a">Lorem ipsum dolor sit amet, charetra varius rci quis tortor imperdiet venenatis quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero.</div>
                            <div class="tab-pane" id="b">Secondo sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. Aliquam in felis sit amet augue.</div>
                            <div class="tab-pane" id="c">Thirdamuno, ipsum dolor sit amet, consectetur adipiscing elit. Duis elementum auctor accumsan. Duis pharetra
                                varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae. </div>
                            <div class="tab-pane active" id="d">Lorem ipsum dolor sit amet, charetra varius rci quis tortor imperdiet venenatis quam sit amet vulputate. </div>                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse" data-target="#estudio2">
                    dd/mm/yyyy - 5380
                </div>
                <div class="panel-body collapse" id="estudio2">
                    <div class="tabbable">
                        <ul class="nav nav-pills nav-stacked col-md-3">
                            <li class="active"><a href="#a" data-toggle="tab">1. Condiciones del Extendido</a></li>
                            <li><a href="#b" data-toggle="tab">2. Trofismo</a></li>
                            <li><a href="#c" data-toggle="tab">3. Descripción</a></li>
                            <li><a href="#d" data-toggle="tab">4. Conclusiones</a></li>
                        </ul>
                        <div class="tab-content col-md-9">
                            <div class="tab-pane active" id="a">Lorem ipsum dolor sit amet, charetra varius rci quis tortor imperdiet venenatis quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero.</div>
                            <div class="tab-pane" id="b">Secondo sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. Aliquam in felis sit amet augue.</div>
                            <div class="tab-pane" id="c">Thirdamuno, ipsum dolor sit amet, consectetur adipiscing elit. Duis elementum auctor accumsan. Duis pharetra
                                varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae. </div>
                            <div class="tab-pane active" id="d">Lorem ipsum dolor sit amet, charetra varius rci quis tortor imperdiet venenatis quam sit amet vulputate. </div>                        </div>
                    </div>
                </div>
            </div>

            <!-- /tabs -->
        </div>
    </div>

</template>